<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/bootstrap.css'}" />
            <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
        
        <link type="text/css" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.16.custom.css'}" rel="stylesheet" />
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-timepicker-addon-0.5-custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        

		<script type="text/javascript">
			var addListAction = #{jsAction @addListElement(':id', ':field') /}	
		    var addListElement = function(id, field, elt) {
		        $(elt).load( addListAction({id: id, field: field}) )
		    }

		    var delListAction = #{jsAction @deleteListElement(':id', ':field', ':idx') /}	
		    var delListElement = function(id, field, idx, elt) {
		        $(elt).load( delListAction({id: id, field: field, idx: idx}) )
		    }

		    var addMapAction = #{jsAction @addMapElement(':id', ':field', ':mkey') /}	
		    var addMapElement = function(id, field, mkey, elt) {
		        $(elt).load( addMapAction({id: id, field: field, mkey: mkey}) )
		    }

		    var delMapAction = #{jsAction @deleteMapElement(':id', ':field', ':mkey') /}	
		    var delMapElement = function(id, field, mkey, elt) {
		        $(elt).load( delMapAction({id: id, field: field, mkey: mkey}) )
		    }
		</script> 
	</head>
	<body id="crud">
	<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">My Club</a>
          <p class="pull-right">Logged in as <a href="#">Guest User</a></p>
        </div>
      </div>
    </div>
		
<div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Manage Club</h5>
          <ul>
            <li><a href="/clubs/list">List Club</a></li>
            <li><a href="/clubs/blank">Add Club</a></li>
            <li><a href="/clubs/addmember">Add Member to Club</a></li>
            <li><a href="/clubs/loadmember">Upload Members to Club</a></li>
          </ul>
          <h5>Manage Member</h5>
          <ul>
            <li><a href="/members/list">List Member</a></li>
            <li><a href="/members/blank">Add Member</a></li>
            <li><a href="/members/search">Search Member</a></li>
            <li><a href="/members/googlemap">Google Map (v3)</a></li>
          </ul>
          
        </div>
      </div>
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
      	
			#{doLayout /}
		
      </div>
        </div>
        <footer>
          <p>&copy; MyClub - a test application</p>
        </footer>
    </div>		
	</body>
</html>
